<!DOCTYPE html>
<html>
  <style>
    .header {
      text-align: center;
       margin: 0;
        top: 33%;

        
    }
    .tea-container {
      margin-top: 50px;
    }

    .text-center {
      margin-top: 250px;
    }
  </style>


  <body>
    <div class="home-pic"></div>  
    <i class="bi-house"></i>

    

  

    <center>
      <h1 class="text-center"> 
        Pick from our fields 
      </h1>
    </center>

  <center>
    <div class="row row-cols-2 row-cols-md-3">
          <% @teas.each do |tea|%>
            <div class="col mb-4">
              <div class="card border-dark mb-3" style="width: 10rem; height: 20rem;">
                <%= image_tag ("#{tea.image.name}"), width: 10, class: "card-img-top" %>
                <div class="card-body">
                  <h5 class="card-title" style="font-size: 12px;">
                    <p><%=tea.title%>  |  $<%=tea.price_usd%></p>
                  </h5>
                  <p class="card-text"></p>
                    <% if current_user != nil %>
                      <%= button_to "Add Subscription", "/users/#{current_user.id}/subscriptions/add/tea/#{tea.id}" %>
                    <% else %>
                      <p> Log in to Subscribe</p>
                    <% end %>
                </div>
              </div>
          </div>
        <% end %>
    </div>
  </center>


  </body>
</html>