<!DOCTYPE html>
<html>
  <style>
  
    .videos {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-top: 10vh;
    }

    iframe {
      width: 63vw;
      height: 52vh;
    }
  </style>

  <body>
    <div class="videos">
      <iframe src="https://www.youtube.com/embed/KlFXl--H8eM?si=yHbigAHh9cM32O2o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    <div class="videos">
      <iframe src="https://www.youtube.com/embed/7EePjNxfkOg?si=9dVMMG-uty_1FwwZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="videos">
      <iframe src="https://www.youtube.com/embed/-rZp4L-ig_w?si=e7rhuoP_cJ_nfDe7" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <div class="videos">
      <iframe src="https://www.youtube.com/embed/RClUyq3kf7E?si=cYUe_hmqxVOcT2cH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
     
    </div>
  </body>
</html>